<div class="container">
  <% if params[:id] == "1" %>  
     <%= render 'form_index' %>
<% end %>

<% if params[:id] == "2" %>
  <%= render 'form_about' %>
<% end %>

<% if params[:id] == "3" %>  
  <%= render 'form_contact' %>
<% end %>

</div>